@( documentMap : Map[String, models.SparqlQueryResults],
   final_query : String)

@import helper._

@main("Hierarchy Faceted Search") {
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Metadata Browser</h1>
		  <h4>@final_query</h4>
		  <div class="row placeholders"></div>
		  <ul class="nav nav-tabs">
		    @for((thingType, query_results) <- documentMap) {
    		    <li><a data-toggle="tab" href="#@thingType">@thingType</a></li>
		    }
		  </ul>
          <div class="row placeholders"></div>
          <div class = "tab-content">
            @for((thingType, query_results) <- documentMap) {
            
      			<div id="@thingType" class="tab-pane fade in">
      			    @thingType match{
                        case "InstrumentModelsH" => {
    				    <h2 class="sub-header">Results</h2>
    					   <div class="table-responsive">
    		
							    <div id="body">
      								<div id="footer">
      								</div>
    							</div>

    							<link type="text/css" rel="stylesheet" href="http://mbostock.github.io/d3/talk/20111018/style.css"/>
					      		<script type="text/javascript" src="http://mbostock.github.io/d3/talk/20111018/d3/d3.js"></script>
    							<script type="text/javascript" src="http://mbostock.github.io/d3/talk/20111018/d3/d3.layout.js"></script>
    							<script type="text/javascript" src="/assets/javascripts/treeRenderer.js"></script>  					   
    							<link type="text/css" rel="stylesheet" href="/assets/stylesheets/treeRenderer.css"/>
    					   
    					   </div>
					    } 
					    case "Platforms" => { 
                            <h2 class="sub-header">Platforms</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "Platforms"){
                                                @platform_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        }
					    case _ =>{
      			            @metadata_table(query_results)
      				    }
      			    }
      			</div>
      		}
          </div>
        </div>
      </div>
    </div>

}
