@( documentMap : Map[String, models.SparqlQueryResults],
   documentHierarchy: Map[String, String],
   final_query : String)

@import helper._
@import play.api.libs.json._

@main("Hierarchy Faceted Search") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Metadata Browser</h1>
		  <h4>@final_query</h4>
		  <div class="row placeholders"></div>
		  <ul class="nav nav-tabs">
		    @for((thingType, query_results) <- documentMap) {
    		    <li><a data-toggle="tab" href="#@thingType">@thingType</a></li>
		    }
		    @for((thingType, hierarchy_results) <- documentHierarchy) {
    		    <li><a data-toggle="tab" href="#@thingType">@thingType</a></li>
		    }
		  </ul>
          <div class="row placeholders"></div>
          <div class = "tab-content">
            @for((thingType, query_results) <- documentMap) {
            
      			<div id="@thingType" class="tab-pane fade in">
      			    @thingType match{
                        case "PlatformModels" => { 
                            <h2 class="sub-header">Platform Models</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "PlatformModels"){
                                                @platform_model_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        } 					    
					    case "Platforms" => { 
                            <h2 class="sub-header">Platforms</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "Platforms"){
                                                @platform_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        }
                        case "InstrumentModels" => { 
                            <h2 class="sub-header">Instrument Models</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "InstrumentModels"){
                                                @instrument_model_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        }                        
                        case "Instruments" => { 
                            <h2 class="sub-header">Instruments</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "Instruments"){
                                                @instrument_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        }
                        case "DetectorModels" => { 
                            <h2 class="sub-header">Detector Models</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "DetectorModels"){
                                                @detector_model_entry(triple) 
                                            }
                                        }
                
                                    </div>
                                </div>
                        }                             
                        case "Detectors" => { 
                            <h2 class="sub-header">Detectors</h2>
                            <div><p>(click for more information)</p></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        @for(triple <- query_results.triples_list){
                                            @if(triple.resultType == "Detectors"){
                                                @detector_entry(triple) 
                                            }
                                        }
                                </div>
                        }
					    case _ =>{
      			            @metadata_table(query_results)
      				    }
      			    }
      			</div>
      		}
      		@for((thingType, hierarchy_results) <- documentHierarchy) {
      			<div id="@thingType" class="tab-pane fade in">
  					@metadata_hierarchy(hierarchy_results)
      			</div>
      		}
          </div>
        </div>
      </div>
    </div>

}
