@( documentMap : Map[String,models.SparqlQueryResults],
   documentHierarchy: Map[String,String],
   final_query : String)

@import helper._
@import play.api.libs.json._

@main("Browse Instrument") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <p>
		  	 <button class="btn btn-primary" type="submit">Instrument<br>Hierarchy</button>
		  	 <button class="btn btn-primary" type="submit">Detector<br>Hierarchy</button>
		  	 <button class="btn btn-primary" type="submit">Entity<br>Hierarchy</button>
		  	 <button class="btn btn-primary" type="submit">Characteristic<br>Hierarchy</button>
		  </p>
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#InstrumentModels">View All Instrument Models</a></li>
            <li><a data-toggle="tab" href="#Instruments">View All Instruments</a></li>
            <li><a data-toggle="tab" href="#InstrumentModelsH">View Models as Tree</a></li>
        </ul>
        <div class = "tab-content">
        @for((thingType, query_results) <- documentMap) {
            @thingType match{
                case "InstrumentModels" => { 
                    <div id="InstrumentModels" class="tab-pane fade in">
                        <div><p>(click for more information)</p></div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    @for(triple <- query_results.triples_list){
                                        @instrument_model_entry(triple) 
                                    }
                                </div>
                            </div>
                    </div>
                }
                case "Instruments" => { 
                    <div id="Instruments" class="tab-pane fade in">
                        <div><p>(click for more information)</p></div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    @for(triple <- query_results.triples_list){
                                        @instrument_entry(triple)
                                    }
                                </div>
                            </div>
                    </div>
                }
                case _ => {
                }
            }
        }
        @for((thingType, tree_results) <- documentHierarchy){
                <div id="@thingType" class="tab-pane fade in">
                    @metadata_hierarchy(tree_results)
                </div>
        }
        </div>
      </div>
    </div>

}